In [27]:
# Importing base libraries
import pandas as pd
import matplotlib as plt

# Importing libraries needed for API requests
import json
import requests
from config import weather_api_key

# Importing random library for randomizing longitudes
import random

# Importing library which returns the nearest city for given (latitude, longitude)
from citipy import citipy

In [35]:
# Generating a list of 500 cities at about equal latitudes, random longitudes
city_list=[]
for instance in range(-250,250):
    lat=instance*90/250
    long=random.uniform(-180,180)
    city=citipy.nearest_city(lat,long)
    city_list.append((city.city_name,city.country_code))
len(city_list)

# Create blank dataframe
city_data_df=pd.DataFrame(city_list)
city_data_df=city_data_df.rename(columns={0:"City",1:"Country Code"})
city_data_df["Lat [deg]"]=""
city_data_df["Long [deg]"]=""
city_data_df["Temperature [F]"]=""
city_data_df["Humidity [%]"]=""
city_data_df["Cloudiness [%]"]=""
city_data_df["Wind Speed [mph]"]=""

city_data_df

,City,Country Code,Lat [deg],Long [deg],Temperature [F],Humidity [%],Cloudiness [%],Wind Speed [mph]
0,mataura,pf,,,,,,
1,punta arenas,cl,,,,,,
2,east london,za,,,,,,
3,new norfolk,au,,,,,,
4,rikitea,pf,,,,,,
...,...,...,...,...,...,...,...,...
495,qaanaaq,gl,,,,,,
496,mys shmidta,ru,,,,,,
497,nizhneyansk,ru,,,,,,
498,tuktoyaktuk,ca,,,,,,
499,longyearbyen,sj,,,,,,

In [41]:
# Saving config information for API requests
url = "http://api.openweathermap.org/data/2.5/weather?"

#Populating dataframe
for index,row in city_data_df.head().iterrows():
    # Build query URL
    query_url = url + "appid=" + weather_api_key + "&q=" + row["City"]
    # Get weather data
    weather_response = requests.get(query_url).json()
    city_data_df.loc[index,"Lat [deg]"]=weather_response["coord"]["lat"]
    city_data_df.loc[index,"Long [deg]"]=weather_response["coord"]["lon"]
    city_data_df.loc[index,"Temperature [F]"]=weather_response["main"]["temp"]
    city_data_df.loc[index,"Humidity [%]"]=weather_response["main"]["humidity"]
    city_data_df.loc[index,"Cloudiness [%]"]=weather_response["clouds"]["all"]
    city_data_df.loc[index,"Wind Speed [mph]"]=weather_response["wind"]["speed"]
    
# Preety print response
# print(json.dumps(weather_response, indent=4, sort_keys=True))
city_data_df

,City,Country Code,Lat [deg],Long [deg],Temperature [F],Humidity [%],Cloudiness [%],Wind Speed [mph]
0,mataura,pf,-46.19,168.86,293.15,82,4,0.89
1,punta arenas,cl,-53.15,-70.92,283.62,71,40,10.3
2,east london,za,-33.02,27.91,296.8,78,96,3.67
3,new norfolk,au,-42.78,147.06,286.8,54,75,4.1
4,rikitea,pf,-23.12,-134.97,299.2,85,80,7.49
...,...,...,...,...,...,...,...,...
495,qaanaaq,gl,,,,,,
496,mys shmidta,ru,,,,,,
497,nizhneyansk,ru,,,,,,
498,tuktoyaktuk,ca,,,,,,
499,longyearbyen,sj,,,,,,